<%- include('../partials/header.ejs') %>

<!-- input form will go here. -->
<h5 class="form-title">What's your idea?</h5>
<form class="thought-form" action="/ideas" method="POST">
  <!-- how do I include a timestamp/date? -->
  <label> <%=user.name%>'s</label>
  <label>idea: <input type="text" name="idea" autocomplete="off" /> </label
  ><br />
  <input class="form-button" type="submit" value="submit" />
</form>
<%-include('')
<%- include('../partials/footer') %>
