html {
  color: black;
  background-color: white;
  font-family: "Roboto Mono";
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}
.nav-wrapper {
  color: black;
  background-color: white;
  padding: 25px;
}
nav ul a {
  color: black;
}
.title {
  color: black;
  padding-left: 25px;
  font-size: 24px;
}
#subtitle {
  margin: 0;
  padding-right: 60px;
}
