html {
  color: black;
  background-color: white;
  font-family: "Roboto Mono";
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}
.nav-wrapper {
  color: black;
  background-color: white;
  padding: 25px;
}
nav ul a {
  color: black;
}
nav ul a:hover {
  color: black;
  text-decoration: underline;
}
.title {
  color: black;
  padding-left: 25px;
  font-size: 24px;
}
#subtitle {
  margin: 0;
  padding-right: 60px;
  opacity: 50%;
}
.card-content {
  background-color: transparent;
  color: black;
  font-size: 24px;
}
.thoughts {
  font-size: 16px;
  padding-left: 25px;
}
.timestamp {
  font-size: 11px;
  color: (0, 0, 0, 0.5);
  padding-left: 25px;
}
.thought-form {
  display: inline-block;
  width: 500px;
  justify-content: left;
  position: relative;
  top: 50px;
  left: 50px;
}
.form-title {
  padding-left: 50px;
  font-size: 18px;
  position: relative;
  top: 50px;
}
.form-button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}
input {
  font-family: "Roboto Mono";
}
