<%- include('../partials/header.ejs') %>
<!-- input form will go here. -->
<h5 class="title">What's on your mind?</h5>
<form action="/thoughts" method="POST">
  <!-- how do I include a timestamp/date? -->
  <label> <%=user.name%>'s</label>
  <label>thought: <input type="text" name="thought" /> </label><br />
  <input type="submit" value="post" />
</form>
<%- include('../partials/footer') %>
