<%- include('../partials/header') %>
<!-- input form will go here. -->
<h2>What's on your mind?</h2>
<form action="/thoughts" method="POST">
  <!-- how do I include a timestamp/date? -->
  <!-- how do I include a username? -->
  <label> <%-req.session.passport.user %></label>
  <label>Thought: <input type="text" name="thought" /> </label><br />
  <input type="submit" value="post" />
</form>
<%- include('../partials/footer') %>
